body{
    font-family: Arial, sans-serif;
    color: rgb(75, 75, 75);
    background-color:rgb(235, 235, 225);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.title{
    margin: 20px;
}

.title a{
    color: black;
}

.title a:visited{
    color: black;
}

.title a:hover{
    color: darkgray;
}

.main-menu{
    display: flex;
    list-style-type: none;
}

.main-menu li{
    margin: 10px;
}

main{
    display: flex;
    flex-direction: column;
}

.section-clara{
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-escura{
    color: cornsilk;
    background-color: rgb(85, 105, 105);
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.section-info img{
    width: 40%;
}

.about-info{
    width: 40%;
    display: flex;
    justify-content: center;
}

.section-sobre{
    display: flex;
    justify-content: space-around;
}

.div-sobre{
    width: 90%;
}

.div-blog{
    width: 90%;
}

.div-portf{
    width: 90%;
}

.portf-items{
    display: flex;
    gap: 10%;
    justify-content: space-around;
}

.portf-item{
    width: 40%;
    padding: 20px;
}

footer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.div-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.div-footer a{
    margin: 10px;
}