body{
    font-family: Arial, sans-serif;
    color: rgb(75, 75, 75);
    background-color:rgb(235, 235, 225);
}
.um_s{
    background-color: cornsilk;
}
.dois_s{
    color: cornsilk;
    background-color: rgb(85, 105, 105);
}